<article class="posts">
    <div class="title mt-5 shadow p-4 rounded">
        <h4 class="mb-3 ml-2" id="title_text"><a href="/post/{{post_id}}">{{title}}</a></h4>
            <h5 class="post_label">Description:  <span = class="post_info">{{description}}</span></h5>
            <h5>{{username}}</h5> 
            <h5 class="post_label">Category:  <span class="post_info">{{category.category_name}}</span></h5>
    </div>
</article>

 {{!-- <script src="/javascript/view_posts.js"></script> --}}

