<article class="posts container-fluid">
    <div class="title ml-3">
        <h4 class="ml-3 pb-2" id="title_text">{{title}}</h4>
            <h5 class="post_label ml-4">Description:  <span  class="post_info">{{description}}</span></h5>
            <h5 class="post_label ml-4">Seller's Name:  <span class="post_info">{{user.username}}</span></h5>
            <h5 class="post_label ml-4">Seller's Email:  <span class="post_info">{{user.email}}</span></h5>
            <h5 class="post_label ml-4">Category:  <span class="post_info">{{category.category_name}}</span></h5>
    </div>
</article>
